<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Libros{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <nav class="bg-gray-600 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="text-white text-2xl font-bold">
                Librería
            </div>
            <div class="space-x-4">
                <a href="{% url 'home' %}" class="text-white hover:text-gray-200">Inicio</a>
                <a href="{% url 'list_book' %}" class="text-white hover:text-gray-200">Libros</a>
                <a href="{% url 'profiles:list' %}" class="text-white hover:text-gray-200">Perfiles</a>
                <a href="{% url 'contact' %}" class="text-white hover:text-gray-200">Contacto</a>
                
            </div>
            {% if not request.user.is_authenticated %}
            <div>
                <a href="{% url 'login' %}" class="text-white hover:text-gray-200">Iniciar Sesión</a>
            </div>
            {% else %}
            <div class="flex items-center space-x-4">
                <a href="{% url 'profile' %}" class="text-white hover:text-gray-200">Perfil</a>
                <form action="{% url 'logout' %}" method="post" class="inline">
                    {% csrf_token %}
                    <button type="submit" class="text-white hover:text-gray-200">Salir</button>
                </form>
            </div>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}
    
    
</body>
</html>