{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<main class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="text-center p-6 bg-white rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold mb-4 text-gray-800">Página de Reseñas</h1>
    <p class="text-lg text-gray-600 mb-6">
      Bienvenido a nuestra plataforma de reseñas. Aquí podrás encontrar las últimas reseñas de libros, calificaciones de los usuarios y mucho más. Navega por nuestras secciones para descubrir nuevos títulos y compartir tus propias opiniones.
    </p>
    <p class="text-md text-gray-500">
      En esta página, destacamos algunos de los libros más populares y recientes. También proporcionamos un espacio para que los usuarios puedan dejar sus comentarios y valoraciones. No dudes en explorar y participar en nuestra comunidad de lectores.
    </p>
  </div>
</main>
{% endblock %}
