{% extends 'base.html' %}
{% block content %}
{% include 'includes/book_menu.html' %}
<h1 class="text-3xl font-bold mb-8 text-center">Libros</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
  {% for book in books %}
    <div class="group relative block overflow-hidden">
      {% if book.image %}
        <a href="{% url 'book_detail' book.id %}" class="block">
          <img src="{{ book.image.url }}" alt="{{ book.title }}" class="h-48 w-full object-cover transition duration-500 group-hover:scale-105" />
        </a>
      {% endif %}

      <div class="relative border border-gray-100 bg-white p-4">
        <h3 class="mt-2 text-sm font-medium text-gray-900">
          <a href="{% url 'book_detail' book.id %}" class="hover:underline">{{ book.title }}</a>
        </h3>

        <p class="mt-1 text-sm text-gray-700">${{ book.price }}</p>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
