{% extends 'base.html' %}
{% load static %}
{% block title %}Cambio de contraseña{% endblock %}
{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md">
    <form action="" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      {% csrf_token %}
      <h3 class="text-2xl mb-6 text-center font-semibold">Cambio de contraseña</h3>
      <p class="mb-4">Por favor, introduzca su contraseña antigua por seguridad, y después introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</p>
      
      {% if form.old_password.errors %}
        <p class="text-red-500 text-xs italic mb-4">{{ form.old_password.errors }}</p>
      {% endif %}
      <div class="mb-4">
        <input type="password" name="old_password" autofocus required id="id_old_password" class="shadow appearance-none border border-black rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Contraseña antigua"/>
      </div>

      {% if form.new_password1.errors %}
        <p class="text-red-500 text-xs italic mb-4">{{ form.new_password1.errors }}</p>
      {% endif %}
      <div class="mb-4">
        <input type="password" name="new_password1" required id="id_new_password1" class="shadow appearance-none border border-black rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Contraseña nueva"/>
      </div>

      {% if form.new_password2.errors %}
        <p class="text-red-500 text-xs italic mb-4">{{ form.new_password2.errors }}</p>
      {% endif %}
      <div class="mb-4">
        <input type="password" name="new_password2" required id="id_new_password2" class="shadow appearance-none border border-black rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Contraseña nueva (confirmación)"/>
      </div>

      <div class="flex items-center justify-center">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">
          Cambiar mi contraseña
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
