{% extends 'base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md">
    <form action="" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      {% csrf_token %}
      <h3 class="text-2xl mb-6 text-center font-semibold">Restablecer contraseña</h3>
      <p class="mb-4">¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
      {% if form.email.errors %}
        <p class="text-red-500 text-xs italic mb-4">{{ form.email.errors }}</p>
      {% endif %}
      <div class="mb-4">
        <input type="email" name="email" maxlength="254" required id="id_email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Introduce tu email"/>
      </div>
      <div class="flex items-center justify-between">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">
          Confirmar
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
