{% extends 'base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña completado{% endblock %}
{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h3 class="text-2xl mb-6 text-center font-semibold">Restablecimiento de contraseña completado</h3>
    <p class="mb-4">Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
    <div class="flex justify-center">
      <a href="{% url 'login' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Iniciar sesión
      </a>
    </div>
  </div>
</div>
{% endblock %}
