{% extends 'base.html' %}
{% load static %}
{% block title %}Escriba la nueva contraseña{% endblock %}
{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    {% if validlink %}
      <form action="" method="post">
        {% csrf_token %}
        <h3 class="text-2xl mb-6 text-center font-semibold">Escriba la nueva contraseña</h3>
        <p class="mb-4">Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
        {% if form.new_password1.errors %}
          <p class="text-red-500 text-xs italic mb-4">{{ form.new_password1.errors }}</p>
        {% endif %}
        <div class="mb-4">
          <input type="password" name="new_password1" required id="id_new_password1" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Introduce la nueva contraseña">
        </div>
        {% if form.new_password2.errors %}
          <p class="text-red-500 text-xs italic mb-4">{{ form.new_password2.errors }}</p>
        {% endif %}
        <div class="mb-6">
          <input type="password" name="new_password2" required id="id_new_password2" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Repite la nueva contraseña">
        </div>
        <div class="flex items-center justify-between">
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">
            Cambiar mi contraseña
          </button>
        </div>
      </form>
    {% else %}
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h3 class="text-2xl mb-6 text-center font-semibold">Restablecimiento de contraseñas fallido</h3>
        <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}" class="text-blue-500 hover:text-blue-700">aquí</a>.</p>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
