{% extends 'base.html' %}
{% load static %}
{% block title %}Email{% endblock %}
{% block content %}
<style>
  .errorlist {
    color: red;
  }
  .form-field input {
    border: 1px solid black;
  }
</style>
<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md">
    <form action="" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      {% csrf_token %}
      <h3 class="text-2xl mb-6 text-center font-semibold">Email</h3>
      {% if form.errors %}
        <div class="mb-4 text-red-500 text-xs italic">
          {% for field in form %}
            {% for error in field.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}
      <div class="mb-4 form-field">
        {{ form.username }}
      </div>
      <div class="mb-4 form-field">
        {{ form.email }}
      </div>
      <div class="mb-4 form-field">
        {{ form.password1 }}
      </div>
      <div class="mb-6 form-field">
        {{ form.password2 }}
      </div>
      <div class="flex items-center justify-between">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">
          Actualizar
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
